$heading-font-family: "Sen", sans-serif;
$bitter-font-family: 'Bitter', serif;;
$text-font-family: "Lato", sans-serif;
$roboto-font-family: 'Roboto', sans-serif;
$background-color: #15e0c0;
$color-green:#14DFBE;
$text-color: #1F1F23;
$text-color-disc:#7C7D89;
$placeholder-color: #949494;
$white-color: #fff;
$black-color: #000;
$gray-color:#3D3D48;
$button-bg-color: #1c2932;
$input-bg-color: #fcfcfc;
body {
  font-family: $heading-font-family;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: rgba($color: $button-bg-color, $alpha: 0.6);
}
@media (min-width: 1400px){
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      max-width: 1180px;
  }
}
/* #mc_embed_signup{
  width: 100%;
  form {
    margin: 0;
  }
  .mc-field-group {
    width: 100%;
  }
  .mc-field-group.input-group input {
    width: 100%;
    background: #FCFCFC;
    border-radius: 8px 0px 0px 8px;
    padding: 16px 20px 16px 20px;
  }
  #mc-embedded-subscribe-form div.mce_inline_error {
    padding: 0;
    font-size: 13px;
  }
  .mc-field-group.input-group input::placeholder {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #949494;
  }
  div.mce_inline_error {
    background-color: #15e0c0;
  }
  #mc-embedded-subscribe-form div.mce_inline_error {
    background-color: #15e0c0;
  }
  .button {
    padding: 16px 24px;
    height: auto;
    background: #011310;
    border-radius: 0px 8px 8px 0px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
  }
  div.response {
    margin: 0;
    padding: 0;
  }
  #mc-embedded-subscribe-form input.mce_inline_error {
    border: 1px solid #e85c41;
  }
  .button:hover {
    opacity: 0.8;
  }
  .mc-field-group .d-flex{
    width: 100%;
  }
}

@media(max-width:767px) {
  #mc_embed_signup{
    .button {
      font-size: 12px;
      padding: 16px 12px;
    }
    .mc-field-group.input-group input {
      padding: 16px 20px;
    }
    form .d-flex{
      flex-wrap: wrap;
      width: 100%;
    }
    .mc-field-group.input-group input{
      border-radius: 8px;
    }
    .button{
      border-radius: 8px;
      padding: 16px 20px;
      margin-top: 10px;
    }
    #mc_embed_signup_scroll .d-flex{
      width: 100%;
    }
  }
} */
.mc_embed_signup{
  width: 100%;
  form {
    margin: 0;
  }
  .mc-field-group {
    width: 100%;
  }
  .mc-field-group.input-group input {
    width: 100%;
    background: #FCFCFC;
    border-radius: 8px 0px 0px 8px;
    padding: 16px 20px 16px 20px;
  }
  .mc-embedded-subscribe-form div.mce_inline_error {
    padding: 0;
    font-size: 13px;
  }
  .mc-field-group.input-group input::placeholder {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #949494;
  }
  div.mce_inline_error {
    background-color: #15e0c0;
  }
  .mc-embedded-subscribe-form div.mce_inline_error {
    background-color: #15e0c0;
  }
  .button {
    padding: 16px 24px;
    height: auto;
    background: #011310;
    border-radius: 0px 8px 8px 0px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    white-space: nowrap;
  }
  div.response {
    margin: 0;
    padding: 0;
  }
  .mc-embedded-subscribe-form input.mce_inline_error {
    border: 1px solid #e85c41;
  }
  .button:hover {
    opacity: 0.8;
  }
  .mc-field-group .d-flex{
    width: 100%;
  }
}

@media(max-width:767px) {
  .mc_embed_signup{
    .button {
      font-size: 12px;
      padding: 16px 12px;
    }
    .mc-field-group.input-group input {
      padding: 16px 20px;
    }
    form .d-flex{
      flex-wrap: wrap;
      width: 100%;
    }
    .mc-field-group.input-group input{
      border-radius: 8px;
    }
    .button{
      border-radius: 8px;
      padding: 16px 20px;
      margin-top: 10px;
    }
    .mc_embed_signup_scroll .d-flex{
      width: 100%;
    }
  }
}
header {
  .bx-navbar {
    background-color: transparent !important;
    padding: 44px 0 44px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    @media (max-width: 991px) {
      padding-top: 16px;
      padding-bottom: 16px;
      /* position: fixed;
      top: 0;
      left: 0; */
      width: 100%;
      z-index: 999;
      height: 77px;
    }
    .navbar-brand {
      outline: 0 !important;
      @media (max-width: 767px) {
        width: calc(100% - 80px);
      }
      img {
        /* height: 34px; */
      }
    }
    .btn-sign-up{
      padding: 16px 24px;
      height: auto;
      background: #011310;
      border-radius: 8px;
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      color: #FFFFFF;
      outline: 0 !important;
      box-shadow: none !important;
      &:hover{
        opacity: 0.8;
      }
      @media (max-width: 767px) {
        width: 100%;
        background: transparent;
        border:1px solid $text-color;
        color: $text-color;
        font-size: 14px;
        line-height: 20px;
        margin: 16px 0;
      }
    }
    .navbar-toggler {
      box-shadow: none !important;
      outline: 0 !important;
      background-color: transparent;
      border-radius: 10px;
      border:none;
      z-index: 9;
    }
    .navbar-toggler[aria-expanded="true"]{
      .navbar-toggler-icon{
        background-image: url("../images/close.svg");
      }
    }
    @media (max-width: 767px) {
      .navbar-collapse {
        background-color: $white-color;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        .navbar-nav {
          padding: 16px 16px;
          .nav-item {
            .nav-link {
              font-weight: bold;
              padding-top: 6px;
              padding-left: 8px;
              padding-right: 8px;
              padding-bottom: 6px;
              font-size: 14px;
              line-height: 150%;
              font-family: $text-font-family;
              margin-bottom: 4px;
            }
          }
        }
      }
    }
    @media (min-width: 768px) {
      .navbar-nav {
        flex-direction: row;
      }
    }
    @media (min-width: 768px){
      .navbar-toggler {
          display: none;
      }
      .navbar-collapse {
          display: flex!important;
          flex-basis: auto;
      }
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          padding-left: 32px;
          padding-right: 32px;
          font-family: $heading-font-family;
          font-weight: 400;
          font-size: 18px;
          line-height: 22px;
          color: $text-color;
          //transition: all ease-in-out 0.3s;
          &:hover {
            font-weight: 900;
          }
        }
      }
    }
  }
  .bx-navbar.sticky{
    background-color: $background-color !important;
    @media (max-width: 991px) {
      background-color: $background-color !important;
    }
  }
}
.bx-tilte{
  font-size: 64px;
  text-align: center;
  color: $text-color;
  margin-bottom: 16px;
  @media (max-width: 992px) {
    font-size: 40px;
  }
  @media (max-width: 767px) {
    font-size: 40px;
    line-height: 48px;
  }
}
.bx-disc{
  font-size: 18px;
  line-height: 160%;
  letter-spacing: -0.01em;
  font-family: $text-font-family;
  text-align: center;
  color: $text-color-disc;
  margin-bottom: 80px;
  @media (max-width: 767px) {
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 50px;
  }
}
main {
  min-height: calc(100vh - 294px);
  overflow: hidden;
  @media (max-width: 991px) {
    text-align: center;
  }
  .bx-banner {
    background: url(../images/banner-bg.webp)no-repeat center top , $background-color;
    background-size: cover;
    
    
    @media (max-width: 991px){
      background: url(../images/banner-bg.webp) no-repeat right 40% top, #15e0c0;
      background-size: auto 100%;
      
    }
    
    .container{
      padding-top: 175px;
      padding-bottom: 200px;
      //min-height: 100vh;
      position: relative;
      @media (max-width: 991px){
        padding-top: 120px;
        padding-bottom: 150px;
      }
      @media (max-width: 767px) {
        padding-top: 146px;
        padding-bottom: 44px;
      }
    }
    .bx-banner-heading {
      font-weight: 700;
      font-size: 72px;
      line-height: 1.03;
      letter-spacing: -0.01em;
      color: $text-color;
      margin-bottom: 35px;
      white-space: nowrap;
      span{
        color: $white-color;
      }
      @media (max-width: 1399px) {
        font-size: 50px;
      }
      @media (max-width: 576px) {
        font-size: 32px;
        text-align: left;
        margin-bottom: 16px;
      }
    }
    .bx-banner-description {      
      font-weight: 400;
      font-size: 20px;
      line-height: 140%;
      letter-spacing: 0em;
      color: $gray-color;
      margin-bottom: 52px;
      @media (max-width: 767px) {
        margin-left: auto;
        margin-right: auto;
      }
      @media (max-width: 576px) {
        font-size: 16px;
        line-height: 140%;
        text-align: left;
        margin-bottom: 34px;
      }
    }
    .bx-banner-form {
      display: inline-flex;
      width: 441px;
      max-width: 100%;
      @media (max-width: 576px) {
        width: 100%;
      }
      .form-control {
        height: 54px;
        border-radius: 8px;
        padding: 16px 20px;
        height: 54px;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: $text-color;
        background: $input-bg-color;
        border-radius: 8px 0px 0px 8px;
        outline: 0 !important;
        box-shadow: none !important;
        transition: all ease-in-out 0.3s;
        &::placeholder {
          color: $placeholder-color;
        }
        &:focus {
          border-color: $button-bg-color;
        }
        @media (max-width: 576px) {
          border-radius: 8px;
        }
      }
      .btn {
        padding: 16px 24px;
        outline: 0 !important;
        box-shadow: none !important;
        font-family: $text-font-family;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: $white-color;
        background: $button-bg-color;
        border-radius: 0px 8px 8px 0px;
        white-space: nowrap;
        height: 54px;
        @media (max-width: 576px) {
          border-radius: 8px;
        }
      }
    }
    .bx-banner-image {
      margin-top: -70px;
      margin-bottom: -300px;
      animation-name: bounce;
      animation-timing-function: linear;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      width: 100%;
      height: auto;
      @media (max-width: 991px) {
        margin-bottom: 0;
        width: 350px;
        margin-top: 30px;
      }
      @media(max-width:767px){
        width: 358px;
      }
    }
    .banner-arrow{
      position: absolute;
      bottom: 60px;
      left: 0;
      img{
        -webkit-animation-name: bounce;
        animation-name: bounce;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-duration: 2s;
        animation-duration: 2s;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
      }
      @media(max-width:767px){
        text-align: left;
        bottom: 44px;
        left: 40px;
        img{
          width: 43px;
          height: auto;
        }
      }
    }
  }
  .why-blox3{
    padding: 146px 0 96px 0;
    position: relative;
    &::before{
      position: absolute;
      content: "";
      background: url('../images/why-deco.svg')no-repeat top right;
      top: 313px;
      left: 0;
      right: 0;
      bottom: 0;
    }
    >*{
      position: relative;
      z-index:1;
    }
    @media (max-width: 767px) {
      padding: 50px 0 87px 0;
      &::before{
        background: none;
        top: 0;
      }
    }
    
    .bx-disc{
      width: 700px;
      margin-left: auto;
      margin-right: auto;
      @media (max-width: 767px) {
        width: 100%;
      }
    }
    @media (min-width: 768px){
      .col-md-6 {
          width: 48%;
          margin-bottom: 30px;
      }
    }
    @media (min-width: 992px){
      .col-lg-4 {
        width: 32%;
        margin-bottom: 0;
      }
    }
    
    .box{
      background: $white-color;
      border-radius: 12px;
      padding: 50px 40px;
      border: 1px solid #CBCBD5;
      text-align: left;
      @media (max-width: 767px) {
        padding: 26px 32px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
      }
      &:hover{
        border: 1px solid #14DFBE;
      }
      .why-blox3-icon{
        margin: 12px 0 0 0;
        @media (max-width: 767px) {
          img{
            width: 80px;
            height: auto;
          }
        }
      }
      button{
        font-size: 48px;
        line-height: 58px;
        letter-spacing: -0.02em;
        background: none;
        border: none;
        padding: 0;
        text-align: left;
        @media (max-width: 992px) {
          font-size: 40px;
        }
        @media (max-width: 767px) {
          font-size: 32px;
          line-height: 34px;
          
        }
        &:hover{
          color: #14DFBE;
        }
      }
      .card-body{
        font-family: $text-font-family;
        font-size: 16px;
        line-height: 150%;
        margin: 8px 0 0 0;
        padding: 0;
        border: none;
        color: $text-color-disc;
        @media (max-width: 767px) {
          font-size: 14px;
          margin: 12px 0 0 0;
        }
      }
    }
    @media (max-width: 767px) {
      .box + .box{
        margin-top: 32px;
      }
    }
    
  }
  .key-features{
    padding: 74px 0 165px 0;
    position: relative;
    &::before{
      position: absolute;
      content: "";
      background: url('../images/key-features-deco.svg')no-repeat top left;
      top: 0;
      left: calc(50% - 800px);
      right: 0;
      bottom: 0;
    }
    >*{
      position: relative;
      z-index:1;
    }
    @media (max-width: 1200px){
      img{
        width: 90%;
        height: auto;
      }
    }
    @media (max-width: 767px) {
      padding: 100px 0 112px 0;
      &::before{
        background: none;
        left: 0;
      }
      img{
        width: auto;
        margin: 0 auto;
      }
    }
    .bx-disc{
      width: 620px;
      margin-left: auto;
      margin-right: auto;
      @media (max-width: 767px) {
        width: 100%;
      }
    }
    .row + .row{
      margin-top: 60px;
      @media (max-width: 767px) {
        margin-top: 80px;
      }
    }
    .text-md-end{
      margin-right: 30px;
      @media (max-width: 767px) {
        margin-right: 0;
      }
    }
    dl{
      margin-top: 223px;
      text-align: left;
      @media (max-width: 1200px) {
        margin-top: 140px;
      }
      @media (max-width: 992px) {
        margin-top: 100px;
      }
      @media (max-width: 767px) {
        margin-top: 24px;
        text-align: left;
      }
      dt{
        font-size: 48px;
        line-height: 58px;
        margin-bottom: 24px;
        font-weight: normal;
        letter-spacing: -0.02em;
        @media (max-width: 992px) {
          font-size: 36px;
        }
        @media (max-width: 767px) {
          font-size: 24px;
          line-height: 34px;
          margin-bottom: 8px;
        }
      }
      dd{
        font-family: $text-font-family;
        font-weight: 400;
        font-size: 18px;
        line-height: 160%;
        letter-spacing: -0.01em;
        color: $text-color-disc;
        @media (max-width: 767px) {
          font-size: 16px;
          line-height: 150%;
        }
      }
    }
  }
  .how-much{
    background: #1D2A33;
    position: relative;
    padding: 77px 0 230px 0;
    overflow: hidden;
    @media (max-width: 767px) {
      padding: 98px 0 170px 0;
    }
    &::before{
      position: absolute;
      content: "";
      background: url('../images/how-much-arrow.svg')no-repeat top right;
      top: 55px;
      left: 0;
      right: 20px;
      bottom: 0;
      @media (max-width:992px){
        background-size: 100%;
        left: auto;
        width: 100px;
      }
      @media (max-width: 767px) {
        width: 60px;
      }
    }
    &::after{
      position: absolute;
      content: "";
      background: url('../images/how-much-arrow2.svg')no-repeat bottom left;
      top: 0;
      left: 16px;
      right: 0;
      bottom: 65px;
      @media (max-width:992px){
        background-size: 100%;
        right: auto;
        width: 100px;
      }
      @media (max-width: 767px) {
        width: 74px;
      }
    }
    >*{
      position: relative;
      z-index:1;
    }
    .bx-tilte{
      font-size: 48px;
      color: $white-color;
      margin-bottom: 220px;
      position: relative;
      z-index: 1;
      @media (max-width: 992px) {
        font-size: 40px;
      }
      @media (max-width: 767px) {
        font-size: 32px;
        line-height: 38px;
        letter-spacing: -0.02em;
        margin-bottom: 115px;
      }
    }
    .bx-group{
      width: 660px;
      margin: 0 auto;
      @media (max-width: 767px) {
        width: 240px;
      }
      .price-bank{
        width: 174px;
        height: 174px;
        background: $white-color;
        border-radius: 100%;
        display: flex;
        align-items: center;
        box-shadow: 0px 4px 17px 6px rgba(255, 255, 255, 0.25);
        margin: 180px 0 0 0;
        position: relative;
        z-index: 1;
        @media (max-width: 767px) {
          width: 92px;
          height: 92px;
          margin: 90px 0 0 0;
        }
        &:before{
          position: absolute;
          content: "";
          background: url('../images/wave.svg')no-repeat center center;
          background-size: cover;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          animation: zoom-in-zoom-out 3s ease infinite;
          opacity: 0.3;
        }
        &::after{
          position: absolute;
          content: "";
          background:$white-color;
          border-radius: 100%;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
        >*{
          position: relative;
          z-index: 1;
        }
        dl{
          align-items: center;
          margin: auto;
          color: $black-color;
          dt{
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: -0.02em;
            margin-bottom: 10px;
            @media (max-width: 767px) {
              font-size: 12px;
              line-height: 14px;
              margin-bottom: 5px;
            }
          }
          dd{
            font-weight: 400;
            font-size: 40px;
            line-height: 34px;
            margin-bottom: 0;
            @media (max-width: 767px) {
              font-size: 14px;
              line-height: 17px;
              margin-bottom: 0;
            }
          }
        }
      }
      .price{
        width: 288px;
        height: 288px;
        background: #B9F5EB;
        border-radius: 100%;
        display: flex;
        align-items: center;
        box-shadow: 0px 1px 26px 11px rgba(21, 224, 192, 0.2);
        position: relative;
        @media (max-width: 767px) {
          width: 116px;
          height: 116px;
        }
        &:before{
          position: absolute;
          content: "";
          background: url('../images/wave2.svg')no-repeat center center;
          background-size: cover;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          animation: zoom-in-zoom-out 3s ease infinite;
          opacity: 0.3;
        }
        &::after{
          position: absolute;
          content: "";
          background:#B9F5EB;
          border-radius: 100%;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
        >*{
          position: relative;
          z-index: 1;
        }
        dl{
          align-items: center;
          margin: auto;
          dt{
            margin-bottom: 10px;
            @media (max-width: 767px) {
              margin-bottom: 7px;
            }
            img{
              width: 188px;
              height: auto;
              @media (max-width: 767px) {
                width: 76px;
              }
            }
          }
          dd{
            font-weight: 700;
            font-size: 48px;
            line-height: 58px;
            margin-bottom: 0;
            @media (max-width: 767px) {
              font-size: 16px;
              line-height: 19px;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
  .questions{
    padding: 120px 0 63px 0;
    position: relative;
    z-index: 0;
    background: rgba(231,252,248, 0.2);
    overflow: hidden;
    @media (max-width: 767px){
      padding: 96px 0 104px 0;
    }
    .accordion-item{
      color: var(--bs-accordion-color);
      background-color: $white-color;
      border: 1px solid #EEEFF0;
      padding: 20px 32px;
      border-radius: 8px;
      margin-bottom: 24px;
      @media (max-width: 767px){
        box-shadow: 0px 2px 20px -6px rgba(0, 0, 0, 0.1);
        margin-bottom: 16px;
      }
    }
    .accordion-button {
      padding: 0;
      font-size: 20px;
      line-height: 150%;
      color: $text-color;
      text-align: left;
      background-color: transparent;
      border: 0;
      border-radius: 0;
      overflow-anchor: none;
      outline: none;
      border-color: inherit;
      -webkit-box-shadow: none;
      box-shadow: none;
      &::after{
        background-image: url('../images/plus.svg');
      }
      &:focus{
        outline: none;
        border-color: inherit;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
      @media (max-width: 767px){
        font-size: 18px;
        line-height: 22px;
        letter-spacing: -0.02em;
      }
    }
    .accordion-button:not(.collapsed) {
      color: $text-color;
      background-color: transparent;
      box-shadow: none;
      &::after{
        background-image: url('../images/minus.svg');
        transform: none;
      }
    }
    .accordion-body{
      padding: 0;
      font-size: 18px;
      line-height: 160%;
      letter-spacing: -0.01em;
      color: $text-color-disc;
      margin-top: 24px;
      font-family: $text-font-family;
      text-align: left;
      @media (max-width: 767px){
        font-size: 14px;
        line-height: 150%;
      }
    }
    #view-all {
      display: none;
    }
    .view-all{
      font-weight: 700;
      font-size: 20px;
      line-height: 150%;
      color: $color-green;
      @media (max-width: 767px){
        font-size: 18px;
        line-height: 22px;
        letter-spacing: -0.02em;
      }
    }
  }
  .early{
    background: url("../images/early-bg.png")no-repeat center top;
    padding: 122px 0 114px 0;
    @media (max-width: 992px){
      background-size: 140%;
    }
    @media (max-width: 992px){
      background: url("../images/early-bg-sp.svg")no-repeat center top;
      background-size: auto;
    }
    @media (max-width: 767px){
      background: url("../images/early-bg-sp.svg")no-repeat center top;
      background-size: 100%;
      padding: 136px 0 132px 0;
    }
    .bx-tilte{
      font-size: 48px;
      font-weight: 700;
      color: $text-color;
      margin-bottom: 28px;
      line-height: 58px;
      letter-spacing: -0.02em;
      @media (max-width: 992px) {
        font-size: 40px;
      }
      @media (max-width: 767px){
        font-size: 32px;
        line-height: 34px;
        letter-spacing: -0.01em;
        margin-bottom: 24px;
      }
      span{
        color:$color-green;
      }
    }
    .bx-disc{
      color:$gray-color;
      letter-spacing: 0;
      margin-bottom: 53px;
      font-weight: bold;
      @media (max-width: 767px){
        margin-bottom: 24px;
      }
      span{
        color: $color-green;
        font-weight: 900;
      }
    }
    .bx-early-form {
      display: inline-flex;
      width: 450px;
      max-width: 100%;
      @media (max-width: 767px){
        margin-bottom: 24px;
        .mc_embed_signup .mc-field-group.input-group input{
          width: calc(100% - 122px);
        }
      }
      @media (max-width: 576px) {
        width: 100%;
      }
      .form-control {
        height: 54px;
        border-radius: 8px;
        padding: 16px 20px;
        height: 54px;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: $text-color;
        background: $input-bg-color;
        border-radius: 8px 0px 0px 8px;
        outline: 0 !important;
        box-shadow: none !important;
        transition: all ease-in-out 0.3s;
        border: none;
        &::placeholder {
          color: $placeholder-color;
        }
        &:focus {
          border-color: $button-bg-color;
        }
      }

      
      .btn {
        padding: 16px 24px;
        outline: 0 !important;
        box-shadow: none !important;
        font-family: $text-font-family;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: #3D3D48;
        background: #14DFBE;
        border-radius: 0px 8px 8px 0px;
        white-space: nowrap;
        height: 54px;
        border: none;
        @media (max-width: 767px){
          width: 122px;
          margin-top: 0;
          font-size: 14px;
        }
      }
      .btn:first-child:hover, :not(.btn-check)+.btn:hover {
        color: #3D3D48;
        background: #14DFBE;
        border: none;
      }
      .mc-field-group{
        border: 2px solid #3D3D48;
        border-radius: 8px;
      }
    }
  }
}
@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1.5, 1.5);
  }
  50% {
    transform: scale(4, 4);
  }
  100% {
    transform: scale(1.5, 1.5);
  }
}
footer {
  padding: 82px 0 30px 0;
  text-align: left;
  @media (max-width: 992px){
    padding: 38px 0 16px 0;
    .mt-ex{
      margin-top: 37px;
    }
  }
  .bx-footer-logo{
    margin: 0 0 28px 0;
    display: block;
    img{
      width: 132px;
      height: auto;
      @media (max-width: 992px){
        width: 98px;
      }
    }
  }
  .bx-socials {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 32px;
    @media (max-width: 992px){
      margin-bottom: 57px;
    }
    a {
      text-decoration: none;
      &:hover {
        img {
          transform: scale(1.1);
        }
      }
      img {
        transition: all ease-in-out 0.3s;
        transform-origin: center center;
        max-height: 33px;
      }
    }
  }
  .bx-footer-title{
    font-family: $text-font-family;
    font-weight: 900;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.02em;
    color: $gray-color;
    margin-bottom: 8px;
  }
  ul{
    list-style: none;
    padding-left: 0;
  }
  ul.nav{
    font-size: 16px;
    line-height: 150%;
    color: $gray-color;
    display: block;
    @media (max-width: 767px){
      font-size: 14px;
    }
    a{
      text-decoration: none;
      color: $gray-color;
      padding: 8px 0;
      display: block;
      &:hover{
        opacity: 0.8;
      }
    }
  }
  .app{
    margin: 9px 0 17px 0; 
    li + li{
      margin-left: 17px;
    }
    @media (max-width: 767px){
      justify-content: space-between;
      font-size: 14px;
      li + li{
        margin-left: 0;
      }
    }
  }
  .bx-footer-title-mini{
    font-weight: 700;
    font-size: 12px;
    line-height: 26px;
    color: $black-color;
    font-family: $roboto-font-family;
    margin-bottom: 4px;
  }
  .trust{
    margin-bottom: 4px;
  }
  .star{
    li + li{
      margin-left: 2px;
    }
  }
  .reviews{
    font-size: 12px;
    line-height: 26px;
    color: $black-color;
    span{
      font-weight: bold;
    }
  }
  .bx-footer-bottom {
    border-top: 1px solid #CBCBD5;
    font-family: $roboto-font-family;
    padding-top: 9px;
    margin-top: 33px;
    font-size: 14px;
    line-height: 150%;
    color: #424242;
    @media (max-width: 992px){
      text-align: center;
    }
  }
}
#to_top {
  position: fixed;
  z-index: 999;
  bottom: 20px;
  right: 20px;
  text-decoration: none;
}
.modal{
  //width: 840px;
  --bs-modal-width: 840px;
 
  .modal-content{
    border-radius: 16px;
    background-image: linear-gradient(to right, #14DFBE, #1AD6CB, #2EB8F7);
    position: relative;
    
    &::before{
      position: absolute;
      content: "";
      top: 6px;
      left: 6px;
      right: 6px;
      bottom: 6px;
      background: #fff;
      border-radius: 16px;
    }
    >*{
      position: relative;
      z-index: 1;
    }
    @media (max-width: 767px){

    }
  }
  .modal-header{
    border-bottom: none;
    padding: 43px 43px 0 43px;
    @media (max-width: 767px){
      padding: 27px 27px 0 27px;
    }
  }
  .modal-body{
    padding: 2px 43px 64px 43px;
    @media (max-width: 767px){
      padding: 0 27px 27px 27px;
    }
  }
  .bx-modal-title{
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #3D3D48;
    margin-bottom: 9px;
    @media (max-width: 767px){
      margin-bottom: 2px;
      font-size: 24px;
      line-height: 34px;
    }
  }
  .bx-disc{
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 36px;
    @media (max-width: 767px){
      font-size: 14px;
      margin-bottom: 19px;
    }
  }
  .bx-form{
    width: 440px;
    margin-left: auto;
    margin-right: auto;
    .btn:first-child:hover, :not(.btn-check)+.btn:hover {
      color: $white-color;
      background: $button-bg-color;
    }
    @media (max-width: 767px){
      width: 100%;
    }
  }
}
@media (max-width: 767px) {
  .container {
    --bs-gutter-x: 40px;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0);
  }
}