body {
  font-family: "Sen", sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(28, 41, 50, 0.6);
}

@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1180px;
  }
}
/* #mc_embed_signup{
  width: 100%;
  form {
    margin: 0;
  }
  .mc-field-group {
    width: 100%;
  }
  .mc-field-group.input-group input {
    width: 100%;
    background: #FCFCFC;
    border-radius: 8px 0px 0px 8px;
    padding: 16px 20px 16px 20px;
  }
  #mc-embedded-subscribe-form div.mce_inline_error {
    padding: 0;
    font-size: 13px;
  }
  .mc-field-group.input-group input::placeholder {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #949494;
  }
  div.mce_inline_error {
    background-color: #15e0c0;
  }
  #mc-embedded-subscribe-form div.mce_inline_error {
    background-color: #15e0c0;
  }
  .button {
    padding: 16px 24px;
    height: auto;
    background: #011310;
    border-radius: 0px 8px 8px 0px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
  }
  div.response {
    margin: 0;
    padding: 0;
  }
  #mc-embedded-subscribe-form input.mce_inline_error {
    border: 1px solid #e85c41;
  }
  .button:hover {
    opacity: 0.8;
  }
  .mc-field-group .d-flex{
    width: 100%;
  }
}

@media(max-width:767px) {
  #mc_embed_signup{
    .button {
      font-size: 12px;
      padding: 16px 12px;
    }
    .mc-field-group.input-group input {
      padding: 16px 20px;
    }
    form .d-flex{
      flex-wrap: wrap;
      width: 100%;
    }
    .mc-field-group.input-group input{
      border-radius: 8px;
    }
    .button{
      border-radius: 8px;
      padding: 16px 20px;
      margin-top: 10px;
    }
    #mc_embed_signup_scroll .d-flex{
      width: 100%;
    }
  }
} */
.mc_embed_signup {
  width: 100%;
}
.mc_embed_signup form {
  margin: 0;
}
.mc_embed_signup .mc-field-group {
  width: 100%;
}
.mc_embed_signup .mc-field-group.input-group input {
  width: 100%;
  background: #FCFCFC;
  border-radius: 8px 0px 0px 8px;
  padding: 16px 20px 16px 20px;
}
.mc_embed_signup .mc-field-group.input-group input:focus {
  border-color: #1c2932;
  outline: none;
  box-shadow: none;
}
.mc_embed_signup .mc-embedded-subscribe-form div.mce_inline_error {
  padding: 0;
  font-size: 13px;
}
.mc_embed_signup .mc-field-group.input-group input::-moz-placeholder {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #949494;
}
.mc_embed_signup .mc-field-group.input-group input:-ms-input-placeholder {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #949494;
}
.mc_embed_signup .mc-field-group.input-group input::placeholder {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #949494;
}
.mc_embed_signup div.mce_inline_error {
  background-color: #15e0c0;
}
.mc_embed_signup .mc-embedded-subscribe-form div.mce_inline_error {
  background-color: #15e0c0;
}
.mc_embed_signup .button {
  padding: 16px 24px;
  height: auto;
  background: #011310;
  border-radius: 0px 8px 8px 0px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  white-space: nowrap;
}
.mc_embed_signup div.response {
  margin: 0;
  padding: 0;
}
.mc_embed_signup .mc-embedded-subscribe-form input.mce_inline_error {
  border: 1px solid #e85c41;
}
.mc_embed_signup .button:hover {
  opacity: 0.8;
}
.mc_embed_signup .mc-field-group .d-flex {
  width: 100%;
}

@media (max-width: 767px) {
  .mc_embed_signup .button {
    font-size: 14px;
    padding: 16px 12px;
  }
  .mc_embed_signup .mc-field-group.input-group input {
    padding: 16px 20px;
  }
  .mc_embed_signup form .d-flex {
    flex-wrap: wrap;
    width: 100%;
  }
  .mc_embed_signup .mc-field-group.input-group input {
    border-radius: 8px;
  }
  .mc_embed_signup .button {
    border-radius: 8px;
    padding: 16px 20px;
    margin-top: 10px;
  }
  .mc_embed_signup .mc_embed_signup_scroll .d-flex {
    width: 100%;
  }
}
header .bx-navbar {
  background-color: transparent !important;
  padding: 44px 0 44px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
@media (max-width: 991px) {
  header .bx-navbar {
    padding-top: 16px;
    padding-bottom: 16px;
    width: 100%;
    z-index: 999;
    height: 77px;
  }
}
header .bx-navbar .navbar-brand {
  outline: 0 !important;
}
@media (max-width: 767px) {
  header .bx-navbar .navbar-brand {
    width: calc(100% - 80px);
  }
}
header .bx-navbar .navbar-brand img {
  /* height: 34px; */
}
header .bx-navbar .btn-sign-up {
  padding: 16px 24px;
  height: auto;
  background: #011310;
  border-radius: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  outline: 0 !important;
  box-shadow: none !important;
}
header .bx-navbar .btn-sign-up:hover {
  opacity: 0.8;
}
@media (max-width: 767px) {
  header .bx-navbar .btn-sign-up {
    width: 100%;
    background: transparent;
    border: 1px solid #1F1F23;
    color: #1F1F23;
    font-size: 14px;
    line-height: 20px;
    margin: 16px 0;
  }
}
header .bx-navbar .navbar-toggler {
  box-shadow: none !important;
  outline: 0 !important;
  background-color: transparent;
  border-radius: 10px;
  border: none;
  z-index: 9;
  padding: 0;
}
header .bx-navbar .navbar-toggler[aria-expanded=true] .navbar-toggler-icon {
  background-image: url("../images/close.svg");
}
@media (max-width: 767px) {
  header .bx-navbar .navbar-collapse {
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  header .bx-navbar .navbar-collapse .navbar-nav {
    padding: 16px 16px;
  }
  header .bx-navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    font-weight: bold;
    padding-top: 6px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 6px;
    font-size: 14px;
    line-height: 150%;
    font-family: "Lato", sans-serif;
    margin-bottom: 4px;
  }
}
@media (min-width: 768px) {
  header .bx-navbar .navbar-nav {
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  header .bx-navbar .navbar-toggler {
    display: none;
  }
  header .bx-navbar .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
}
header .bx-navbar .navbar-nav .nav-item .nav-link {
  padding-left: 32px;
  padding-right: 32px;
  font-family: "Sen", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #1F1F23;
}
header .bx-navbar .navbar-nav .nav-item .nav-link:hover {
  font-weight: 900;
}
@media (max-width: 992px) {
  header .bx-navbar .navbar-nav .nav-item .nav-link {
    padding-left: 24px;
    padding-right: 24px;
  }
}
header .bx-navbar.sticky {
  background-color: rgba(255, 255, 255, 0.7) !important;
  padding: 12px 0;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}
@media (max-width: 991px) {
  header .bx-navbar.sticky {
    background-color: rgba(255, 255, 255, 0.7) !important;
  }
}

.bx-tilte {
  font-size: 64px;
  text-align: center;
  color: #1F1F23;
  margin-bottom: 16px;
}
@media (max-width: 992px) {
  .bx-tilte {
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  .bx-tilte {
    font-size: 40px;
    line-height: 48px;
  }
}

.bx-disc {
  font-size: 18px;
  line-height: 160%;
  letter-spacing: -0.01em;
  font-family: "Lato", sans-serif;
  text-align: center;
  color: #7C7D89;
  margin-bottom: 80px;
}
@media (max-width: 767px) {
  .bx-disc {
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 50px;
  }
}

main {
  min-height: calc(100vh - 294px);
  overflow: hidden;
}
main .bx-banner {
  background: url(../images/banner-bg.webp) no-repeat center top, #15e0c0;
  background-size: cover;
}
@media (max-width: 991px) {
  main .bx-banner {
    background: url(../images/banner-bg.webp) no-repeat right 40% top, #15e0c0;
    background-size: auto 100%;
  }
}
main .bx-banner .container {
  padding-top: 175px;
  padding-bottom: 280px;
  position: relative;
}
@media (max-width: 991px) {
  main .bx-banner .container {
    padding-top: 120px;
    padding-bottom: 150px;
  }
}
@media (max-width: 767px) {
  main .bx-banner .container {
    padding-top: 146px;
    padding-bottom: 44px;
  }
}
main .bx-banner .bx-banner-heading {
  font-weight: 700;
  font-size: 72px;
  line-height: 1.03;
  letter-spacing: -0.01em;
  color: #1F1F23;
  margin-bottom: 35px;
  white-space: nowrap;
}
main .bx-banner .bx-banner-heading span {
  display: inline-block;
  position: relative;
}
main .bx-banner .bx-banner-heading span:before {
  position: absolute;
  content: "";
  background: #B9F5EB;
  left: 0;
  right: 0;
  bottom: 6px;
  height: 12px;
  z-index: -1;
}
@media (max-width: 1399px) {
  main .bx-banner .bx-banner-heading span:before {
    bottom: 4px;
  }
}
@media (max-width: 1399px) {
  main .bx-banner .bx-banner-heading {
    font-size: 44px;
  }
}
@media (max-width: 576px) {
  main .bx-banner .bx-banner-heading {
    font-size: 48px;
    line-height: 53px;
    letter-spacing: -0.02em;
    text-align: left;
    margin-bottom: 20px;
  }
}
main .bx-banner .bx-banner-description {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0em;
  color: #3D3D48;
  margin-bottom: 52px;
}
@media (max-width: 767px) {
  main .bx-banner .bx-banner-description {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 576px) {
  main .bx-banner .bx-banner-description {
    font-size: 14px;
    line-height: 140%;
    text-align: left;
    margin-bottom: 34px;
  }
}
main .bx-banner .bx-banner-form {
  display: inline-flex;
  width: 441px;
  max-width: 100%;
}
@media (max-width: 576px) {
  main .bx-banner .bx-banner-form {
    width: 100%;
  }
}
main .bx-banner .bx-banner-form .form-control {
  height: 54px;
  border-radius: 8px;
  padding: 16px 20px;
  height: 54px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #1F1F23;
  background: #fcfcfc;
  border-radius: 8px 0px 0px 8px;
  outline: 0 !important;
  box-shadow: none !important;
  transition: all ease-in-out 0.3s;
}
main .bx-banner .bx-banner-form .form-control::-moz-placeholder {
  color: #949494;
}
main .bx-banner .bx-banner-form .form-control:-ms-input-placeholder {
  color: #949494;
}
main .bx-banner .bx-banner-form .form-control::placeholder {
  color: #949494;
}
main .bx-banner .bx-banner-form .form-control:focus {
  border-color: #1c2932;
}
@media (max-width: 576px) {
  main .bx-banner .bx-banner-form .form-control {
    border-radius: 4px;
  }
}
main .bx-banner .bx-banner-form .btn {
  padding: 16px 24px;
  outline: 0 !important;
  box-shadow: none !important;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  background: #1c2932;
  border-radius: 0px 8px 8px 0px;
  white-space: nowrap;
  height: 54px;
}
@media (max-width: 576px) {
  main .bx-banner .bx-banner-form .btn {
    border-radius: 4px;
    font-size: 16px;
    line-height: 19px;
  }
}
main .bx-banner .bx-banner-image {
  margin-top: -70px;
  margin-bottom: -300px;
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  height: auto;
}
@media (max-width: 991px) {
  main .bx-banner .bx-banner-image {
    margin-bottom: 0;
    width: 400px;
  }
}
@media (max-width: 767px) {
  main .bx-banner .bx-banner-image {
    width: 358px;
    margin-top: 30px;
  }
}
@media screen and (max-width: 1300px) and (min-width: 992px) {
  main .bx-banner .bx-banner-image {
    margin-left: -50px;
  }
}
main .bx-banner .banner-arrow {
  position: absolute;
  bottom: 60px;
  left: 0;
}
main .bx-banner .banner-arrow img {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
@media (max-width: 767px) {
  main .bx-banner .banner-arrow {
    position: relative;
    bottom: 0;
    right: 0;
    margin: 20px auto 0 auto;
    text-align: center;
  }
  main .bx-banner .banner-arrow img {
    width: 43px;
    height: auto;
  }
}
main .why-blox3 {
  padding: 146px 0 96px 0;
  position: relative;
  /* .box.active{
    border: 1px solid #14DFBE;
    background-image: linear-gradient(to right, #14DFBE, #1AD6CB, #2EB8F7);
    color: $white-color;
    .why-blox3-icon{
      color: $white-color;
      svg{
        path{
          fill: $white-color;
        }
      }
    }
    dt{
      color: $white-color;
    }
    dd{
      color: $white-color;
    }
  } */
}
main .why-blox3::before {
  position: absolute;
  content: "";
  background: url("../images/why-deco.svg") no-repeat top right;
  top: 313px;
  left: 0;
  right: 0;
  bottom: 0;
}
main .why-blox3 > * {
  position: relative;
  z-index: 1;
}
@media (max-width: 767px) {
  main .why-blox3 {
    padding: 60px 0 40px 0;
    /* .row>* {
      padding-right: 0!important;
      padding-left: 0!important;
    }
    .row{
      .slick-list{
        padding: 0;
      }
    } */
  }
  main .why-blox3::before {
    background: none;
    top: 0;
  }
}
main .why-blox3 .bx-disc {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 767px) {
  main .why-blox3 .bx-disc {
    width: 100%;
  }
}
main .why-blox3 .box {
  background: #fff;
  border-radius: 12px;
  padding: 50px 40px;
  border: 1px solid #CBCBD5;
  text-align: left;
  transition: all ease-in-out 0.3s;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}
main .why-blox3 .box:before {
  background: #fff;
  border-radius: 50%;
  content: "";
  height: 0;
  left: calc(100% - 2rem - 30px);
  padding-bottom: 2.25rem;
  position: absolute;
  top: calc(1.5rem + 30px);
  transform: translateX(-50%) translateY(-50%);
  transition: background-color 0.15s 0.25s, width 0.4s, left 0.4s, padding-bottom 0.4s, top 0.4s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  width: 2.25rem;
  z-index: 1;
}
main .why-blox3 .box > * {
  position: relative;
  z-index: 1;
}
@media (max-width: 767px) {
  main .why-blox3 .box {
    padding: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
main .why-blox3 .box .why-blox3-icon {
  margin: 12px 0 0 0;
}
@media (max-width: 767px) {
  main .why-blox3 .box .why-blox3-icon svg {
    width: 64px;
    height: auto;
  }
}
main .why-blox3 .box dt {
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -0.02em;
  /* background: none;
  border: none;
  padding: 0;
  text-align: left; */
  /* &:hover{
    color: #14DFBE;
  } */
}
@media (max-width: 1400px) {
  main .why-blox3 .box dt {
    font-size: 44px;
  }
}
@media (max-width: 1200px) {
  main .why-blox3 .box dt {
    font-size: 36px;
    line-height: 46px;
  }
}
@media (max-width: 767px) {
  main .why-blox3 .box dt {
    font-size: 24px;
    line-height: 27px;
  }
}
main .why-blox3 .box dd {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 150%;
  margin: 12px 0 0 0;
  /* padding: 0;
  border: none; */
  display: none;
  color: #7C7D89;
  /*  --bs-card-bg: none; */
}
@media (max-width: 767px) {
  main .why-blox3 .box dd {
    font-size: 14px;
    margin: 8px 0 0 0;
  }
}
@media (min-width: 768px) {
  main .why-blox3 .col-md-6 {
    /* width: 48%; */
    margin-bottom: 30px;
  }
}
@media (min-width: 992px) {
  main .why-blox3 .col-lg-4 {
    /* width: 32%; */
    margin-bottom: 0;
  }
}
@media (max-width: 767px) {
  main .why-blox3 .box + .box {
    margin-top: 32px;
  }
}
main .why-blox3 .box:hover {
  border: 1px solid #14DFBE;
}
main .why-blox3 .box:hover:before {
  background: linear-gradient(90deg, #f5fcff -60%, #14DFBE, #1AD6CB, #2EB8F7);
  left: 50%;
  padding-bottom: 180%;
  top: 50%;
  transition: background 0.15s, width 0.4s, left 0.4s, padding-bottom 0.4s, top 0.4s;
  width: 180%;
}
main .why-blox3 .box:hover dt {
  color: #fff;
}
main .why-blox3 .box:hover dd {
  color: #fff;
  display: block;
}
main .why-blox3 .box:hover .why-blox3-icon {
  color: #fff;
}
main .why-blox3 .box:hover .why-blox3-icon svg path {
  fill: #fff;
}
main .key-features {
  padding: 74px 0 165px 0;
  position: relative;
  /* .text-md-end{
    margin-right: 30px;
    @media (max-width: 767px) {
      margin-right: 0;
    }
  } */
}
main .key-features::before {
  position: absolute;
  content: "";
  background: url("../images/key-features-deco.svg") no-repeat top left;
  top: 0;
  left: calc(50% - 800px);
  right: 0;
  bottom: 0;
}
main .key-features > * {
  position: relative;
  z-index: 1;
}
@media (max-width: 1200px) {
  main .key-features img {
    width: 90%;
    height: auto;
  }
}
@media (max-width: 767px) {
  main .key-features {
    padding: 40px 0 80px 0;
  }
  main .key-features::before {
    background: none;
    left: 0;
  }
  main .key-features img {
    width: auto;
    margin: 0 auto 40px auto;
  }
}
main .key-features .bx-disc {
  width: 620px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 767px) {
  main .key-features .bx-disc {
    width: 100%;
  }
}
main .key-features .row + .row {
  margin-top: 70px;
}
@media (max-width: 767px) {
  main .key-features .row + .row {
    margin-top: 40px;
  }
}
main .key-features dl {
  margin-top: 200px;
  margin-bottom: 0;
}
@media (max-width: 1200px) {
  main .key-features dl {
    margin-top: 100px;
  }
}
@media (max-width: 992px) {
  main .key-features dl {
    margin-top: 20px;
  }
}
@media (max-width: 767px) {
  main .key-features dl {
    margin-top: 0;
    text-align: left;
  }
}
main .key-features dl dt {
  font-size: 48px;
  line-height: 58px;
  margin-bottom: 24px;
  font-weight: normal;
  letter-spacing: -0.02em;
}
main .key-features dl dt span {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 150%;
  color: #1F1F23;
  background: #89EFDF;
  padding: 6px 12px;
  border-radius: 8px;
  display: inline-block;
  vertical-align: middle;
}
@media (max-width: 1200px) {
  main .key-features dl dt {
    font-size: 44px;
  }
}
@media (max-width: 992px) {
  main .key-features dl dt {
    font-size: 36px;
    line-height: 46px;
  }
}
@media (max-width: 767px) {
  main .key-features dl dt {
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
    margin-bottom: 8px;
  }
}
main .key-features dl dd {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: -0.01em;
  color: #7C7D89;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  main .key-features dl dd {
    font-size: 16px;
    line-height: 150%;
  }
}
main .key-features .row > * {
  position: relative;
  z-index: 1;
}
main .key-features .row1 {
  position: relative;
}
main .key-features .row1:before {
  position: absolute;
  content: "";
  background: url("../images/line.png") no-repeat left bottom;
  top: 0;
  left: calc(50% - 50px);
  right: 0;
  bottom: -70px;
  /* @media (max-width: 992px) {
    left: 33%;
    width: 270px;
  } */
}
@media (max-width: 1200px) {
  main .key-features .row1:before {
    background-size: 100%;
    left: calc(50% - 40px);
    width: 230px;
  }
}
@media (max-width: 992px) {
  main .key-features .row1:before {
    left: 46%;
    width: 230px;
  }
}
@media (max-width: 767px) {
  main .key-features .row1:before {
    background: none;
    left: 0;
    bottom: 0;
  }
}
main .key-features .row2 {
  position: relative;
}
main .key-features .row2:before {
  position: absolute;
  content: "";
  background: url("../images/line2.png") no-repeat right bottom;
  top: 0;
  left: 0;
  right: calc(50% - 100px);
  bottom: -70px;
}
@media (max-width: 1200px) {
  main .key-features .row2:before {
    background-size: 100%;
    left: auto;
    right: calc(50% - 80px);
    width: 230px;
  }
}
@media (max-width: 992px) {
  main .key-features .row2:before {
    right: 40%;
    width: 260px;
  }
}
@media (max-width: 767px) {
  main .key-features .row2:before {
    background: none;
    right: 0;
    bottom: 0;
  }
}
main .how-much {
  background: #1D2A33;
  position: relative;
  padding: 77px 0 120px 0;
  overflow: hidden;
}
@media (max-width: 767px) {
  main .how-much {
    padding: 54px 0 155px 0;
  }
}
main .how-much::before {
  position: absolute;
  content: "";
  background: url("../images/how-much-arrow.svg") no-repeat top right;
  top: 55px;
  left: 0;
  right: 20px;
  bottom: 0;
  /* animation-name: rightToLeft;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate; */
}
@media (max-width: 1024px) {
  main .how-much::before {
    background-size: 100%;
    left: auto;
    width: 100px;
  }
}
@media (max-width: 992px) {
  main .how-much::before {
    background-size: 100%;
    left: auto;
    width: 100px;
  }
}
@media (max-width: 767px) {
  main .how-much::before {
    top: 20px;
    width: 60px;
  }
}
main .how-much::after {
  position: absolute;
  content: "";
  background: url("../images/how-much-arrow2.svg") no-repeat bottom left;
  top: 0;
  left: 16px;
  right: 0;
  bottom: 65px;
  /* animation-name: leftToRight;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate; */
}
@media (max-width: 1024px) {
  main .how-much::after {
    background-size: 100%;
    right: auto;
    width: 100px;
  }
}
@media (max-width: 992px) {
  main .how-much::after {
    background-size: 100%;
    right: auto;
    width: 100px;
  }
}
@media (max-width: 767px) {
  main .how-much::after {
    width: 74px;
    bottom: 36px;
  }
}
main .how-much > * {
  position: relative;
  z-index: 1;
}
main .how-much .bx-tilte {
  font-size: 56px;
  line-height: 67px;
  letter-spacing: -0.02em;
  color: #fff;
  margin-bottom: 80px;
  position: relative;
  z-index: 1;
}
@media (max-width: 992px) {
  main .how-much .bx-tilte {
    font-size: 40px;
    line-height: 60px;
  }
}
@media (max-width: 767px) {
  main .how-much .bx-tilte {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 130px;
  }
}
main .how-much .year {
  overflow: auto;
  display: inline-block;
  height: 67px;
  width: 70px !important;
  vertical-align: middle;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
@media (max-width: 992px) {
  main .how-much .year {
    height: 64px;
    width: 52px !important;
  }
}
@media (max-width: 767px) {
  main .how-much .year {
    height: 56px;
  }
}
main .how-much .year::-webkit-scrollbar {
  display: none;
}
main .how-much .year::-webkit-scrollbar-track {
  display: none;
}
main .how-much .year::-webkit-scrollbar-thumb {
  display: none;
}
main .how-much .year::-webkit-scrollbar-thumb:hover {
  display: none;
}
main .how-much .year ul {
  /* animation-name: hovered;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  animation-delay: 3s; */
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}
@-webkit-keyframes hovered {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}
@keyframes hovered {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}
main .how-much .bx-group {
  width: 660px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  main .how-much .bx-group {
    width: 240px;
  }
}
main .how-much .bx-group .price-bank {
  width: 174px;
  height: 174px;
  background: #fff;
  border-radius: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 17px 6px rgba(255, 255, 255, 0.25);
  margin: 180px 0 0 0;
  position: relative;
  z-index: 1;
}
@media (max-width: 767px) {
  main .how-much .bx-group .price-bank {
    width: 92px;
    height: 92px;
    margin: 90px 0 0 0;
  }
}
main .how-much .bx-group .price-bank:before {
  position: absolute;
  content: "";
  background: url("../images/wave.svg") no-repeat center center;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-animation: zoom-in-zoom-out 3s ease infinite;
          animation: zoom-in-zoom-out 3s ease infinite;
  opacity: 0.1;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
main .how-much .bx-group .price-bank::after {
  position: absolute;
  content: "";
  background: #fff;
  border-radius: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
main .how-much .bx-group .price-bank > * {
  position: relative;
  z-index: 1;
}
main .how-much .bx-group .price-bank dl {
  align-items: center;
  margin: auto;
  color: #000;
}
main .how-much .bx-group .price-bank dl dt {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  main .how-much .bx-group .price-bank dl dt {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 5px;
  }
}
main .how-much .bx-group .price-bank dl dd {
  font-weight: 400;
  font-size: 40px;
  line-height: 34px;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  main .how-much .bx-group .price-bank dl dd {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 0;
  }
}
main .how-much .bx-group .price-bank dl dd .number {
  overflow: auto;
  display: inline-block;
  height: 34px;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
@media (max-width: 767px) {
  main .how-much .bx-group .price-bank dl dd .number {
    height: 17px;
  }
}
main .how-much .bx-group .price-bank dl dd .number::-webkit-scrollbar {
  display: none;
}
main .how-much .bx-group .price-bank dl dd .number::-webkit-scrollbar-track {
  display: none;
}
main .how-much .bx-group .price-bank dl dd .number::-webkit-scrollbar-thumb {
  display: none;
}
main .how-much .bx-group .price-bank dl dd .number::-webkit-scrollbar-thumb:hover {
  display: none;
}
main .how-much .bx-group .price-bank dl dd .number ul {
  /* animation-name: hovered;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 3s; */
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}
main .how-much .bx-group .price {
  width: 288px;
  height: 288px;
  background: #B9F5EB;
  border-radius: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0px 1px 26px 11px rgba(21, 224, 192, 0.2);
  position: relative;
}
@media (max-width: 767px) {
  main .how-much .bx-group .price {
    width: 116px;
    height: 116px;
  }
}
main .how-much .bx-group .price:before {
  position: absolute;
  content: "";
  background: url("../images/wave2.svg") no-repeat center center;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-animation: zoom-in-zoom-out 3s ease infinite;
          animation: zoom-in-zoom-out 3s ease infinite;
  opacity: 0.1;
}
main .how-much .bx-group .price::after {
  position: absolute;
  content: "";
  background: #B9F5EB;
  border-radius: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
main .how-much .bx-group .price > * {
  position: relative;
  z-index: 1;
}
main .how-much .bx-group .price dl {
  align-items: center;
  margin: auto;
}
main .how-much .bx-group .price dl dt {
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  main .how-much .bx-group .price dl dt {
    margin-bottom: 7px;
  }
}
main .how-much .bx-group .price dl dt img {
  width: 188px;
  height: auto;
}
@media (max-width: 767px) {
  main .how-much .bx-group .price dl dt img {
    width: 76px;
  }
}
main .how-much .bx-group .price dl dd {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  main .how-much .bx-group .price dl dd {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 0;
  }
}
main .how-much .bx-group .price dl dd .number {
  overflow: auto;
  display: inline-block;
  height: 58px;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
@media (max-width: 767px) {
  main .how-much .bx-group .price dl dd .number {
    height: 19px;
  }
}
main .how-much .bx-group .price dl dd .number::-webkit-scrollbar {
  display: none;
}
main .how-much .bx-group .price dl dd .number::-webkit-scrollbar-track {
  display: none;
}
main .how-much .bx-group .price dl dd .number::-webkit-scrollbar-thumb {
  display: none;
}
main .how-much .bx-group .price dl dd .number::-webkit-scrollbar-thumb:hover {
  display: none;
}
main .how-much .bx-group .price dl dd .number ul {
  /* animation-name: hovered;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 3s; */
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}
main .questions {
  padding: 120px 0 63px 0;
  position: relative;
  z-index: 0;
  overflow: hidden;
}
@media (max-width: 767px) {
  main .questions {
    padding: 60px 0 60px 0;
  }
}
main .questions .accordion-item {
  color: var(--bs-accordion-color);
  background-color: #fff;
  border: 1px solid #EEEFF0;
  padding: 20px 32px;
  border-radius: 8px;
  margin-bottom: 24px;
}
@media (max-width: 767px) {
  main .questions .accordion-item {
    /* box-shadow: 0px 2px 20px -6px rgba(0, 0, 0, 0.1); */
    margin-bottom: 16px;
    padding: 20px 16px;
  }
}
main .questions .accordion-button {
  padding: 0;
  font-size: 20px;
  line-height: 150%;
  color: #1F1F23;
  text-align: left;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  outline: none;
  border-color: inherit;
  box-shadow: none;
}
main .questions .accordion-button::after {
  background-image: url("../images/plus.svg");
}
main .questions .accordion-button:focus {
  outline: none;
  border-color: inherit;
  box-shadow: none;
}
@media (max-width: 767px) {
  main .questions .accordion-button {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;
  }
  main .questions .accordion-button::after {
    background-size: 12px;
  }
}
main .questions .accordion-button:not(.collapsed) {
  color: #1F1F23;
  background-color: transparent;
  box-shadow: none;
}
main .questions .accordion-button:not(.collapsed)::after {
  background-image: url("../images/minus.svg");
  transform: none;
}
main .questions .accordion-body {
  padding: 0;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #7C7D89;
  margin-top: 24px;
  font-family: "Lato", sans-serif;
  text-align: left;
}
@media (max-width: 767px) {
  main .questions .accordion-body {
    font-size: 14px;
    line-height: 150%;
    margin-top: 20px;
  }
}
main .questions .accordion-body a {
  color: #7C7D89;
}
main .questions #view-all {
  display: none;
}
main .questions .view-all {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #14DFBE;
}
main .questions .view-all a {
  color: #14DFBE;
  text-decoration: none;
}
@media (max-width: 767px) {
  main .questions .view-all {
    font-size: 16px;
    line-height: 29px;
    letter-spacing: -0.02em;
  }
}
main .early {
  background: url("../images/early-bg.png") no-repeat center top, linear-gradient(90deg, #14DFBE -23.97%, #1AD6CB 46.5%, #2EB8F7 113.33%);
  padding: 90px 0 90px 0;
}
@media (max-width: 992px) {
  main .early {
    background-size: 140%;
  }
}
@media (max-width: 992px) {
  main .early {
    background: url("../images/early-bg-sp.png") no-repeat left top, linear-gradient(90deg, #14DFBE -23.97%, #1AD6CB 46.5%, #2EB8F7 113.33%);
    background-size: auto;
  }
}
@media (max-width: 767px) {
  main .early {
    background: url("../images/early-bg-sp.png") no-repeat center top, linear-gradient(90deg, #14DFBE -23.97%, #1AD6CB 46.5%, #2EB8F7 113.33%);
    background-size: 100%;
    padding: 60px 0 124px 0;
  }
}
main .early .bx-tilte {
  font-size: 56px;
  line-height: 104.3%;
  font-weight: 700;
  color: #fff;
  margin-bottom: 20px;
  letter-spacing: -0.02em;
}
@media (max-width: 992px) {
  main .early .bx-tilte {
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  main .early .bx-tilte {
    font-size: 32px;
    line-height: 34px;
    letter-spacing: -0.01em;
    margin-bottom: 20px;
  }
}
main .early .bx-disc {
  color: #fff;
  letter-spacing: 0;
  margin-bottom: 56px;
  font-weight: bold;
}
@media (max-width: 767px) {
  main .early .bx-disc {
    margin-bottom: 60px;
  }
}
main .early .bx-early-form {
  display: inline-flex;
  width: 450px;
  max-width: 100%;
  position: relative;
  z-index: 0;
}
@media (max-width: 767px) {
  main .early .bx-early-form {
    margin-bottom: 24px;
  }
  main .early .bx-early-form .mc_embed_signup .mc-field-group.input-group input {
    width: calc(100% - 122px);
  }
}
@media (max-width: 576px) {
  main .early .bx-early-form {
    width: 100%;
  }
}
main .early .bx-early-form .form-control {
  height: 54px;
  border-radius: 8px;
  padding: 16px 20px;
  height: 54px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #1F1F23;
  background: #fcfcfc;
  border-radius: 8px 0px 0px 8px;
  outline: 0 !important;
  box-shadow: none !important;
  transition: all ease-in-out 0.3s;
  border: none;
}
main .early .bx-early-form .form-control::-moz-placeholder {
  color: #949494;
}
main .early .bx-early-form .form-control:-ms-input-placeholder {
  color: #949494;
}
main .early .bx-early-form .form-control::placeholder {
  color: #949494;
}
main .early .bx-early-form .form-control:focus {
  border-color: #1c2932;
}
main .early .bx-early-form .btn {
  padding: 16px 24px;
  outline: 0 !important;
  box-shadow: none !important;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #3D3D48;
  background: #14DFBE;
  border-radius: 0px 8px 8px 0px;
  white-space: nowrap;
  height: 54px;
  border: none;
}
@media (max-width: 767px) {
  main .early .bx-early-form .btn {
    width: 122px;
    margin-top: 0;
    font-size: 14px;
  }
}
main .early .bx-early-form .btn:first-child:hover, main .early .bx-early-form :not(.btn-check) + .btn:hover {
  color: #3D3D48;
  background: #14DFBE;
  border: none;
}
main .early .bx-early-form .mc-field-group {
  border: 2px solid #3D3D48;
  border-radius: 8px;
}
main .early .btn-join {
  background: #E7FCF8;
  border-radius: 8px;
  width: 250px;
  margin: 0 auto;
  position: relative;
}
main .early .btn-join:before {
  position: absolute;
  content: "";
  box-shadow: 0px 0px 0px 28px rgba(187, 255, 244, 0.16), 0px 0px 0px 18px rgba(187, 255, 244, 0.3), 0px 0px 0px 8px rgba(187, 255, 244, 0.4);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 8px;
  -webkit-animation: zoom-in-zoom-out-btn 3s ease infinite;
          animation: zoom-in-zoom-out-btn 3s ease infinite;
}
main .early .btn-join button {
  background: #E7FCF8;
  border-radius: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  padding: 18px 90px;
  border: none;
  position: relative;
  z-index: 1;
}

@-webkit-keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1.5, 1.5);
  }
  50% {
    transform: scale(3.5, 3.5);
  }
  100% {
    transform: scale(1.5, 1.5);
  }
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1.5, 1.5);
  }
  50% {
    transform: scale(3.5, 3.5);
  }
  100% {
    transform: scale(1.5, 1.5);
  }
}
@-webkit-keyframes zoom-in-zoom-out-btn {
  0% {
    box-shadow: 0px 0px 0px 18px rgba(187, 255, 244, 0.16), 0px 0px 0px 8px rgba(187, 255, 244, 0.3), 0px 0px 0px 0px rgba(187, 255, 244, 0.4);
  }
  50% {
    box-shadow: 0px 0px 0px 28px rgba(187, 255, 244, 0.16), 0px 0px 0px 18px rgba(187, 255, 244, 0.3), 0px 0px 0px 8px rgba(187, 255, 244, 0.4);
  }
  100% {
    box-shadow: 0px 0px 0px 18px rgba(187, 255, 244, 0.16), 0px 0px 0px 8px rgba(187, 255, 244, 0.3), 0px 0px 0px 0px rgba(187, 255, 244, 0.4);
  }
}
@keyframes zoom-in-zoom-out-btn {
  0% {
    box-shadow: 0px 0px 0px 18px rgba(187, 255, 244, 0.16), 0px 0px 0px 8px rgba(187, 255, 244, 0.3), 0px 0px 0px 0px rgba(187, 255, 244, 0.4);
  }
  50% {
    box-shadow: 0px 0px 0px 28px rgba(187, 255, 244, 0.16), 0px 0px 0px 18px rgba(187, 255, 244, 0.3), 0px 0px 0px 8px rgba(187, 255, 244, 0.4);
  }
  100% {
    box-shadow: 0px 0px 0px 18px rgba(187, 255, 244, 0.16), 0px 0px 0px 8px rgba(187, 255, 244, 0.3), 0px 0px 0px 0px rgba(187, 255, 244, 0.4);
  }
}
footer {
  padding: 82px 0 30px 0;
  text-align: left;
}
@media (max-width: 992px) {
  footer {
    padding: 60px 0 16px 0;
  }
  footer .mt-ex {
    margin-top: 30px;
  }
}
footer .bx-footer-logo {
  margin: 0 0 24px 0;
  display: block;
}
footer .bx-footer-logo img {
  width: 132px;
  height: auto;
}
@media (max-width: 992px) {
  footer .bx-footer-logo img {
    width: 98px;
  }
}
footer .bx-socials {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 32px;
}
@media (max-width: 992px) {
  footer .bx-socials {
    margin-bottom: 43px;
  }
}
footer .bx-socials a {
  text-decoration: none;
}
footer .bx-socials a:hover img {
  transform: scale(1.1);
}
footer .bx-socials a img {
  transition: all ease-in-out 0.3s;
  transform-origin: center center;
  max-height: 33px;
}
footer .bx-footer-title {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.02em;
  color: #3D3D48;
  margin-bottom: 8px;
}
footer ul {
  list-style: none;
  padding-left: 0;
}
footer ul.nav {
  font-size: 16px;
  line-height: 150%;
  color: #3D3D48;
  display: block;
}
@media (max-width: 767px) {
  footer ul.nav {
    font-size: 14px;
  }
}
footer ul.nav a {
  text-decoration: none;
  color: #3D3D48;
  padding: 8px 0;
  display: block;
}
footer ul.nav a:hover {
  opacity: 0.8;
}
footer .app {
  margin: 9px 0 0 0;
  flex-wrap: wrap;
}
footer .app li {
  margin-right: 17px;
  margin-bottom: 17px;
}
footer .app li:hover {
  opacity: 0.8;
}
footer .app li:last-child {
  margin-bottom: 0;
}
@media (max-width: 767px) {
  footer .app {
    justify-content: space-between;
    font-size: 14px;
  }
  footer .app li {
    margin-right: 0;
    width: 48%;
  }
  footer .app li img {
    width: 100%;
    height: auto;
  }
}
footer .bx-footer-title-mini {
  font-weight: 700;
  font-size: 12px;
  line-height: 26px;
  color: #000;
  font-family: "Roboto", sans-serif;
  margin-bottom: 4px;
}
footer .trust {
  margin-bottom: 4px;
}
footer .star li + li {
  margin-left: 2px;
}
footer .reviews {
  font-size: 12px;
  line-height: 26px;
  color: #000;
}
footer .reviews span {
  font-weight: bold;
}
footer .bx-footer-bottom {
  border-top: 1px solid #CBCBD5;
  font-family: "Roboto", sans-serif;
  padding-top: 9px;
  margin-top: 33px;
  font-size: 14px;
  line-height: 150%;
  color: #424242;
}
@media (max-width: 992px) {
  footer .bx-footer-bottom {
    text-align: center;
  }
}

#to_top {
  position: fixed;
  z-index: 999;
  bottom: 20px;
  right: 20px;
  text-decoration: none;
}

.modal {
  --bs-modal-width: 840px;
}
.modal .btn-close:focus {
  outline: none;
  box-shadow: none;
}
.modal .modal-content {
  border-radius: 16px;
  background-image: linear-gradient(to right, #14DFBE, #1AD6CB, #2EB8F7);
  position: relative;
}
.modal .modal-content::before {
  position: absolute;
  content: "";
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background: #fff;
  border-radius: 16px;
}
.modal .modal-content > * {
  position: relative;
  z-index: 1;
}
.modal .modal-header {
  border-bottom: none;
  padding: 43px 43px 0 43px;
}
@media (max-width: 767px) {
  .modal .modal-header {
    padding: 27px 27px 0 27px;
  }
}
.modal .modal-body {
  padding: 2px 43px 64px 43px;
}
@media (max-width: 767px) {
  .modal .modal-body {
    padding: 0 27px 27px 27px;
  }
}
.modal .bx-modal-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #3D3D48;
  margin-bottom: 9px;
}
@media (max-width: 767px) {
  .modal .bx-modal-title {
    margin-bottom: 2px;
    font-size: 24px;
    line-height: 34px;
  }
}
.modal .bx-disc {
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 36px;
}
@media (max-width: 767px) {
  .modal .bx-disc {
    font-size: 14px;
    margin-bottom: 19px;
  }
}
.modal .bx-form {
  width: 440px;
  margin-left: auto;
  margin-right: auto;
}
.modal .bx-form .btn:first-child:hover, .modal .bx-form :not(.btn-check) + .btn:hover {
  color: #fff;
  background: #1c2932;
}
@media (max-width: 767px) {
  .modal .bx-form {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .container {
    --bs-gutter-x: 40px;
  }
}
@-webkit-keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes rightToLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-30px);
  }
}
@keyframes rightToLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-30px);
  }
}
@-webkit-keyframes leftToRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(30px);
  }
}
@keyframes leftToRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(30px);
  }
}/*# sourceMappingURL=style.css.map */